/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: transparent;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 30px;
  }
  
  nav a {
    text-decoration: underline;
    color: #ffff03;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    background-image: url("travel.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    /* margin: 20px; */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 170px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
    color: #ffff03;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }

  #about {
    background-color: transparent;
    padding: 20px;
    text-align: justify;
  }

  #about,
  #contact,
  #recomCities,
  #recomArch,
  #recomBeaches,
  #contact h2 {
    margin-top: 0;
    color: #ffff03;
  }

  .zoom-out {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.zoom-in {
  transform: scale(1.5); /* zoom level */
}

.customContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

  